html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

* {
    font-family: 'Lato', sans-serif;
}

body, html {
  scroll-behavior: smooth;
  background-color: #2d303a;
}

a { 
  text-decoration: none; 
} 

button, input, textarea {
  outline: none;
}

.form__button,
.modal__btn,
input,
textarea {
  font: inherit;
  font-size: 0.7rem;
  border-style: none;
  border-radius: 5px;
  background-color: #d6564f;
  color: inherit;
}

header, footer {
  width: 100%;
  height: 89px;
  background-color: #2d303a;
}

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 5;
  border-bottom: 6px solid #323746;
}

.header-content {
  display: flex;
  flex-direction: row;
  height: 89px;
  width: 1020px;
  margin: 0 auto;
  background-color: #2d303a;
}

#menu-toggle {
  display: none;
}

.menu-box {
  display: none;
}

.burger-menu {
  display: none;
}

#menu-toggle {
  color: #fff;
  opacity: 0;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 10px;
  left: 5px;
  width: 36px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
  color: #fff;
  background: #2D303A;
  padding: 15px;
}

.menu-btn__line_top, .menu-btn__line_middle, .menu-btn__line_bottom {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fff;
}

.menu-btn__line_top {
  top: 20px;
}

.menu-btn__line_middle{
  top: 28px;
}

.menu-btn__line_bottom {
  top: 36px;
}

.menu-box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 278px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background: #2D303A;
  box-shadow: 1px 0px 6px rgba(0,0,0,.2);
  background-blend-mode: darken;
  z-index: 2;
}

.menu-box__navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  top: 60px;
  left: 73px;
  width: 129px;
  height: 290px;
}

.menu-box__navigation {
  list-style-type: none;
}

.menu-box__item {
  display: block;
  color: rgb(15, 69, 85);
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.035em;
  color: #FFFFFF;
}

.menu-item:active {
  border-radius: 25px;
  background-color: rgb(13, 24, 29);
  color:rgb(77, 172, 216);
}

#menu-toggle:checked ~ .menu-btn > .menu-btn__line_top {
  top: 28px;
  left: 10px;
  transform: rotate(90deg);
}

#menu-toggle:checked ~ .menu-btn > .menu-btn__line_middle {
  top: 28px;
  left: 18px;
  transform: rotate(90deg);
}

#menu-toggle:checked ~ .menu-btn > .menu-btn__line_bottom {
  top: 28px;
  left: 26px;
  transform: rotate(90deg);
}

#menu-toggle:checked ~ .menu-box {
  visibility: visible;
  left: 0;
  animation: showLeft 0.4s ease;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  height: 100%;
  margin-left: 40px;
  z-index: 5;
}

.logo__text {
  font-size: 25px;
  color: #ffffff;
  padding-bottom: 7px;
  font-weight: 550;
  letter-spacing: -0.6px;
}

.logo__text::after {
  content: '*';
  color: #f06c64;
}

nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 89px;
  width: 80%;
  margin-right: 39px;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  width: 397px;
}

nav li {
  padding-top: 10px;
  margin-right: 4px;
  list-style-type: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.1px;
  cursor: pointer;
}

nav li:hover, .menu-box__item:hover  {
  color: #f06c64;
  transition: 0.5s linear;
}

nav li::before {
  content: '·';
  color: #55505a;
  padding: 10px;
  padding-right: 13px;
}

nav li:hover::before {
  color: #f06c64;
}

nav li:first-child::before {
  list-style-type: none;
  content: '';
}

.navigation__link {
  color: inherit;
}

.navigation__link_active {
  color: #f06c64;
}

main {
  margin: 0 auto;
  max-width: 1020px;
}

.title {
  margin-top: 1px;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 800;
  letter-spacing: -0.2px;
  text-align: justify;
}
  
.text {
  margin-top: 19px;
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: -0.53px;
  word-spacing: 0.3px;
  text-align: justify;
}

.slider {
  height: 594px;
  overflow: hidden;
  max-width: 1020px;
}

.hide {
  display: none;
}

#slide1 {
  display: flex;
  justify-content: center;
  padding-top: 89px;
  border-bottom: 6px solid #ea676b;
  background-color: #f06c64;
}

#slide2 {
  display: none;
  justify-content: center;
  padding-top: 89px;
  border-bottom: 6px solid #648BF0;
  background-color: #648BF0;
}

.slider-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 591px;
  padding-bottom: 2px;
}

.slider-chev {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 3px;
  opacity: 0.5;
  cursor: pointer;
  z-index: 4;
}

.slider-chev:hover {
  opacity: 1;
  transition: 0.5s linear;
}

.slider__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 483px;
  width: 797px;
  margin-left: 55px;
  margin-right: 55px;
}

.slider__wrapper_second {
  justify-content: center;
  align-items: center;
}

.two-iphones {
  position: relative;
  top: 250px;
  z-index: 1;
}

.iphone-front {
  position: relative;
  left: 383px;
  bottom: 290px;
  z-index: 2;
}

.iphone {
  margin-top: 20px;
}

.iphone-vertical {
  margin-right: 37px;
}

.iphone-btn {
  position: relative;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}

.iphone-vertical__btn {
  bottom: 68px;
  left: 98px;
  height: 20px;
  width: 19.5px;
}

.iphone-horizontal__btn {
  bottom: 146px;
  left: 20px;
  height: 19px;
  width: 19px;
}

.iphone-front__btn {
  bottom: 341px;
  left: 230px;
  height: 20px;
  width: 20px;
}

.servises {
  height: 434px;
  background-color: #ebebed;
  padding: 60px 40px 0 40px;
  color: #767e9e;
  border-bottom: 6px solid #ffffff;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 47px 0 0 0;
  max-width: 942px;
}

.servises-item {
  display: flex;
  flex-direction: row;
}

.servises-item__description {
  max-width: 221px;
  margin-left: 10px;
  margin-bottom: 35px;
  margin-right: 10px;
}

.servises-item__title {
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 0.7;
  letter-spacing: -0.7px;
}

.servises-item__text {
  margin-top: 13px;
  height: 64px;
  width: 222px;
  font-size: 0.78rem;
  line-height: 1.763;
  letter-spacing: -0.3px;
  word-spacing: -0.8px;
  text-align: justify;
  overflow: hidden;
}

.portfolio {
  padding: 60px 20px 0 20px;
  height: 803px;
  color: #666d89;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  border-right: 20px solid #2d303a;
  border-left: 20px solid #2d303a;
  overflow: hidden;
}

.portfolio__tag-buttons {
  margin: 10px 0 19px 0;
}

.tag-btn {
  display: inline;
  padding: 2px 3px 3px 3px;
  margin-right: 7px;
  font-size: 12px;
  text-align: center;
  color: inherit;
  background-color: #2d303a;
  border: 1px solid #666d89;
  border-radius: 5px;
  cursor: pointer;
}

.tag-btn_active {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.tag-btn:hover {
  border: 1px solid #ffffff;
  transition: 0.5s linear;
}

.tag-btn:nth-child(1) {
  margin-left: 1px;
  width: 29px;
}

.tag-btn:nth-child(2) {
  width: 78px;
}

.tag-btn:nth-child(3) {
  width: 93px;
}

.tag-btn:nth-child(4) {
  width: 57px;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin-bottom: 20px;
}

.layout-4-column img {
  margin: 10px;
}

.layout-4-column img:hover {
  cursor: pointer;
}

.image_active {
  outline: 5px solid #F06C64;
  outline-offset: -4px;
}

.about {
  height: 668px;
  padding: 60px 40px 0 40px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  color: #666d89;
}

.about__layout-3-column {
  display: flex;
  flex-direction: row;
  max-width: 942px;
  margin-top: 45px;
}

.person-card img {
  width: 100%;
  height: auto;
}

.person-card:nth-child(2) {
  padding: 0 19px 0 19px;
  margin-right: 2px;
}

.person-card:nth-child(3) {
  margin-right: 2px;
}

.person-card__title {
  width: 128px;
  height: 14px;
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 0.7;
  letter-spacing: -0.9px;
  word-spacing: 0.689px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.person-card__text {
  height: 38px;
  margin-top: 12px;
  font-size: 0.7rem;
  line-height: 1.96;
  text-align: justify;
  letter-spacing: 0.3px;
  word-spacing: -0.3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.person-card:nth-child(2) p {
  margin-left: 1px;
  letter-spacing: 0.5px;
  word-spacing: -0.8px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 28px;
  margin-left: 1px;
  width: 152px;
}

.social-link {
  display: flex;
  width: 32px;
  height: 32px;
  background-image: url('assets/img/part2/Social\ Media.png');
  opacity: 0.6;
}

.social-link:hover {
  opacity: 1;
  transition: 0.5s linear;
}

.social-link__facebook {
  background-position: 0 0;
}

.social-link__google {
  background-position: -40px 0;
}

.social-link__twitter {
  background-position: -80px 0;
}

.social-link__linkedin {
  background-position: -120px 0;
}

.quote {
  padding: 60px 40px 0 40px;
  height: 588px;
  color: #ffffff;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

#modal-blur {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: #2D303A;
  opacity: 0.6;
}

.modal-window {
  display: none;
  justify-content: center;
  position: absolute;
  top: 700px;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 10%;
  text-align: center;
}

.modal-window__content {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 40px;
  width: 600px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0,0,0,0.9);
  background: #ffffff;
  color: #666d89;
  animation: showDown 0.4s ease;
}

.modal-window__content span {
  margin-bottom: 40px;
  color: #F06C64;
}
.modal-window__description {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 400px;
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal__btn {
  position: relative;
  color: #ffffff;
  width: 100px;
  height: 42px;
  cursor: pointer;
}

.modal__btn:hover {
  background-color: #9b4844;
  transition: 0.5s linear;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
  width: 80%;
  height: 416px;
  color: #ffffff;
  z-index: 1;
}

input {
  height: 36px;
  max-width: 604px;
  width: 100%;
  padding-left: 15px;
  letter-spacing: 0.5px;
  line-height: 0.4;
}

.form__button:hover, input:hover, textarea:hover {
  background-color: #9b484483;
  transition: 0.5s linear;
}

input:focus, textarea:focus {
  background-color: #9b484483;
  border: 1px solid #ffffff;
}

input::placeholder, textarea::placeholder {
  color: #f48c8f;
  word-spacing: -0.1px;
  letter-spacing: 0.4px;
}

.form__button {
  height: 36px;
  width: 200px;
  color: inherit;
}

.form__button:active, .modal__btn:active {
  background-color: rgb(75, 32, 32);
}

textarea {
  height: 188px;
  resize: none;
  max-width: 602px;
  width: 100%;
  padding-left: 15px;
  padding-top: 12px;
  line-height: 0.9;
  letter-spacing: 0.13px;
  word-spacing: 1.6px;
}

.quote__wrapper {
  display: flex;
  flex-direction: row;
  max-width: 936px;
}

.contact-info {
  max-width: 350px;
  margin: 41px 0 0 20px ;
}

.contact-info__title {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  word-spacing: -0.4px;
}

.contact-info__text {
  line-height: 1.964;
  margin-top: 8px;
  font-size: 0.7rem;
  letter-spacing: 0.1px;
  word-spacing: 1px;
  text-align: justify;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 24px;
  list-style: none;
  width: 146px;
  height: 59px;
  font-size: 0.7rem;
  background-image: url('assets/img/part3/contacts.png');
  background-repeat: no-repeat;
}

.contacts-item {
  display: inline;
  margin-left: 23px;
  padding-bottom: 3px;
  letter-spacing: 0.1px;
  word-spacing: 1.4px;
}

.contacts-item__number, .contacts-item__email {
  color: inherit;
}

.contacts-item__number:hover, .contacts-item__email:hover {
  color: #d6564f;
  font-weight: bold;
  font-size: 15px;
  transition: 0.5s linear;
}

footer {
  color: #666d89;
  height: 76px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1020px;
  height: 76px;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  font-size: 0.7rem;
}

.copyright h3 {
  padding-bottom: 1px;
  padding-left: 2px;
  letter-spacing: 0.3px;
  word-spacing: -0.2px;
}

.copyright h3:nth-child(2)::before{
  content: '·';
  padding-right: 2px;
}

.footer__social {
  margin-right: 40px;
  margin-top: 22px;
  padding-bottom: 52px;
}

@keyframes showDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes hideRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes hideLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@media (max-width: 1020px){
  body {
    max-width: 1020px;
  }
  main{
    width: 100%;
  } 
}

@media (max-width: 768px) and (min-width: 376px) {
  body {
    max-width: 768px;
    max-width: 100%;
  }
  
  header {
    max-width: 768px;
  }
  
  .header-content {
    max-width: 768px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 768px;
    
  }

  .slider {
    max-width: 768px;
    height: 452px;
  }

  .slider-content {
    max-width: 713px;
    height: 452px;
  }

  #slide1, #slide2, .three-iphones {
    max-width: 768px;
    height: 452px;
  }

  .three-iphones {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .two-iphones {
    top: 0;
    left: 100px;
    width: 768px;
    height: 100%;
  }

  .iphone-front {
    left: -371px;
    bottom: -5px;
  }

  .iphone-front__btn {
    bottom: 0;
    top: 155px;
    left:  -477px;
    height: 15px;
    width: 4px;
  }

  .slider__wrapper {
    width: 650px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .slider__wrapper_second {
    width: 600px;
  }

  .iphone-vertical, .iphone-vertical-off,.iphone-front {
    width: 180.71px;
    height: 388.07px;
  }

  .iphone-margin {
    margin-right: 0;
  }

  .iphone-horizontal__img, .iphone-horizontal-off {
    width: 363.67px;
    height: 182.63px;
  }

  .iphone-vertical__btn {
    bottom: 59px;
    left: 73px;
    height: 15px;
    width: 4px;
  }
  
  .iphone-horizontal__btn {
    bottom: 95px;
    left: -353px;
    height: 15px;
    width: 4px;
  }

  .servises {
    max-width: 768px;
    height: 675px;
  }

  .servises-item {
    height: 100px;
    margin-bottom: 50px;
  }

  .layout-3-column {
    max-width: 687px;
    height: 376px;
    justify-content: space-around;
  }

  .portfolio {
    max-width: 768px;
    height: 1000px;
    padding: 60px 20px 0 20px;
  }

  .layout-4-column {
    max-width: 768px;
  }

  .layout-4-column img {
    max-width: 206.19px;
    height: 177.76px;
  }

  .about {
    max-width: 768px;
    height: 630px;
  }

  .about__layout-3-column  img {
    max-width: 218.94px;
    width: 100%;
    height: auto;
  }

  .about__layout-3-column {
    max-width: 687px;
    width: 100%;
  }

  .person-card {
    padding: 0;
  }

  .quote {
    max-width: 768px;
    height: 631px;
  }

  .modal-window {
    margin-top: 50px;
  }

  .modal-window__content {
    width: 400px;
  }

  form, input, textarea {
    max-width: 441px;
  }

  textarea {
    height: 159px;
  }

  .quote__wrapper {
    max-width: 694px;
  }

  .contact-info {
    max-width: 220px;
  }

  .footer-content {
    justify-content: center;
    max-width: 708px;
  }
  
  .copyright {
    display: none;
  }
}

@media (max-width: 375px) {
  body {
    width: 100%;
  }
  
  header {
    max-width: 375px;
    height: 71px;
  }
  
  .header-content {
    max-width: 375px;
    height: 71px;
  }

  .burger-menu {
    display: block;
  }

  .logo {
    margin-left: 80px;
    margin-top: 5px;
  }

  .logo__text {
    font-size: 19.6875px;
    line-height: 24px;
    letter-spacing: -0.03em;
  }

  nav, .navigation {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 375px;
    margin: 0;
  }

  .slider {
    max-width: 375px;
    height: 220.7px;
  }

  .slider-content {
    width: 300px;
    height: 220.7px;
  }

  #slide1, #slide2, .three-iphones {
    max-width: 375px;
    height: 220.7px;
  }

  .three-iphones {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .two-iphones {
    top: 0;
    left: 65px;
    width: 375px;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .iphone-front {
  left: -166px;
  bottom: -5px;}

  .iphone-front__btn {
    bottom: 0;
    top: 78px;
    left: -240px;
    height: 15px;
    width: 4px;
  }

  .slider__wrapper {
    width: 290px;
    height: 220.7px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .slider__wrapper_second {
    width: 280px;
  }

  .iphone-vertical, .iphone-vertical-off,.iphone-front {
    width: 88.24px;
    height: 189.49px;
    margin-right: 18px;
  }

  .iphone-margin {
    margin-right: 0;
  }

  .iphone-horizontal__img, .iphone-horizontal-off {
    height: 93.96px;
    width: 177.57px;
  }

  .iphone-vertical__btn {
    bottom: 37px;
    left: 31px;
    height: 14px;
    width: 4px;
  }
    
  .iphone-horizontal__btn {
    bottom: 66px;
    left: 3px;
    height: 15px;
    width: 10px;
  }

  .servises {
    padding: 34px 32px 0 32px;
    max-width: 375px;
    height: 1057px;;
  }

  .servises-item {
    width: 300px;
    height: 104px;
    margin-bottom: 20px;
  }

  .layout-3-column {
    width: 296px;
    height: 684px;
    margin: 38px 0 0 0;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .servises-item__text {
    width: 220px;
  }

  .portfolio {
    max-width: 375px;
    height: 1060px;
    padding: 34px 17px 0 10px;
    border-right: 10px solid #2d303a;
    border-left: 10px solid #2d303a;
  }

  .layout-4-column {
    max-width: 330px;
  }

  .layout-4-column img {
    margin: 7px;
    width: 151px;
    height: 128px;
  }

  .about {
    padding: 34px 32px 0 32px;
    max-width: 375px;
    height: 1754px;
  }

  .about__layout-3-column  img {
    width: 314px;
    height: 310px;
  }

  .about__layout-3-column {
    flex-wrap: wrap;
    width: 310px;
    margin-top: 31px;
  }

  .person-card {
    margin-bottom: 34px;
    padding: 0;
  }

  .person-card:nth-child(2) {
    padding: 0;
    margin-right: 0;
  }
    
  .person-card:nth-child(3) {
    margin-right: 0;
  }

  .social {
    margin-top: 16px;
  }

  .quote {
    padding: 34px 32px 0 32px;
    max-width: 375px;
    height: 1010px;
  }

  .modal-window {
    width: 100%;
    height: 200px;
    margin-top: 50px;
  }

  .modal-window__content {
    padding: 20px;
    height: 200px;
    max-width: 250px;
    left: 0;
  }

  .modal-window__content span {
    margin-bottom: 10px;
  }

  .modal-window__description {
    width: 100%;
    height: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  form {
    margin-top: 29px;
    width: 300px;
    height: 372px;
  }
  input {
    width: 300px;
    height: 34px; 
  }

  textarea {
    width: 300px;
    height: 159px;
  }

  .form__button {
    width: 317px;
  }

  .quote__wrapper {
    flex-direction: column;
    width: 315px;
  }

  .contact-info {
    margin: 34px 0 0 21px;
    width: 220px;
  }

  .contacts {
    margin-top: 20px;
  }

  .footer-content {
    justify-content: center;
    max-width: 375px;
  }

  .footer__social {
    margin-right: 0;
    margin-top: 22px;
    padding-bottom: 52px;
  }
    
  .copyright {
    display: none;
  }
}
