html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

* {
    font-family: 'Lato', sans-serif;
}

a { 
  text-decoration: none; 
} 

button, input, textarea {
  outline: none;
}

.form__button,
.modal__btn,
input,
textarea {
  font: inherit;
  font-size: 0.7rem;
  border-style: none;
  border-radius: 5px;
  background-color: #d6564f;
  color: inherit;
}

header, footer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1020px;
  height: 89px;
  background-color: #2d303a;
}

header {
  border-bottom: 6px solid #323746;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  width: 198px;
  height: 100%;
}

.logo__text {
  font-size: 25px;
  color: #ffffff;
  padding-bottom: 7px;
  font-weight: 550;
  letter-spacing: -0.6px;
}

.logo__text::after {
  content: '*';
  color: #f06c64;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 821px;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  width: 397px;
  margin-right: 37px;
}

nav li {
  padding-top: 10px;
  margin-right: 4px;
  list-style-type: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.1px;
  cursor: pointer;
}

nav li:hover {
  color: #f06c64;
  transition: 0.5s linear;
}

nav li::before {
  content: '·';
  color: #55505a;
  padding: 10px;
  padding-right: 13px;
}

nav li:hover::before {
  color: #f06c64;
}

nav li:first-child::before {
  list-style-type: none;
  content: '';
}

.navigation__link {
  color: inherit;
}

.navigation__link_active {
  color: #f06c64;
}

main {
  margin: 0 auto;
  width: 1020px;
}

.title {
  margin-top: 1px;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 800;
  letter-spacing: -0.2px;
  text-align: justify;
}
  
.text {
  margin-top: 19px;
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: -0.53px;
  word-spacing: 0.3px;
  text-align: justify;
}

.slider {
  height: 594px;
  overflow: hidden;
}

.hide {
  display: none;
}

#slide1 {
  border-bottom: 6px solid #ea676b;
  background-color: #f06c64;
}

#slide2 {
  border-bottom: 6px solid #648BF0;
  background-color: #648BF0;
}

.slider-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 591px;
  padding-bottom: 2px;
}

.slider-chev {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 3px;
  opacity: 0.5;
  cursor: pointer;
  z-index: 4;
}

.slider-chev:hover {
  opacity: 1;
  transition: 0.5s linear;
}

.slider__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 483px;
  width: 797px;
  margin-left: 55px;
  margin-right: 55px;
}

.slider__wrapper_second {
  justify-content: center;
  align-self: center;
}

.two-iphones {
  position: relative;
  top: 250px;
  z-index: 1;
}

.iphone-front {
  position: relative;
  left: 383px;
  bottom: 290px;
  z-index: 2;
}

.iphone {
  margin-top: 20px;
}

.iphone-vertical {
  margin-right: 37px;
}

.iphone-btn {
  position: relative;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}

.iphone-vertical__btn {
  bottom: 68px;
  left: 98px;
  height: 20px;
  width: 19.5px;
}

.iphone-horizontal__btn {
  bottom: 146px;
  left: 20px;
  height: 19px;
  width: 19px;
}

.iphone-front__btn {
  bottom: 341px;
  left: 230px;
  height: 20px;
  width: 20px;
}

.servises {
  height: 434px;
  background-color: #ebebed;
  padding: 60px 40px 0 40px;
  color: #767e9e;
  border-bottom: 6px solid #ffffff;
}

.layout-3-column {
  display: flex;
  flex-direction: row;
  width: 942px;
}

.layout-3-column_upper {
  margin: 47px 42px 33px 0;
}

.layout-3-column_lower {
    margin: 0 42px 42px 0;
}

.servises-item {
  display: flex;
  flex-direction: row;
}

.servises-item:nth-child(1) {
  margin-left: 1px;
}

.servises-item:nth-child(2){
  margin-right: 2px;
  margin-left: 1px;
}

.servises-item:nth-child(3) h3 {
  margin-left: 2px;
  letter-spacing: -0.86px;
  word-spacing: 1px;
}

.servises-item__description {
  width: 221px;
  margin-left: 20px;
  margin-right: 18px;
}

.servises-item__title {
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 0.7;
  letter-spacing: -0.7px;
}

.servises-item__text {
  margin-top: 13px;
  height: 64px;
  width: 222px;
  font-size: 0.78rem;
  line-height: 1.763;
  letter-spacing: -0.1px;
  word-spacing: -0.6px;
  text-align: justify;
  overflow: hidden;
}

.portfolio {
  padding: 60px 20px 0 20px;
  height: 803px;
  color: #666d89;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  border-right: 20px solid #2d303a;
  border-left: 20px solid #2d303a;
  overflow: hidden;
}

.portfolio__tag-buttons {
  margin: 10px 0 19px 0;
}

.tag-btn {
  display: inline;
  padding: 2px 3px 3px 3px;
  margin-right: 7px;
  font-size: 12px;
  text-align: center;
  color: inherit;
  background-color: #2d303a;
  border: 1px solid #666d89;
  border-radius: 5px;
  cursor: pointer;
}

.tag-btn_active {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.tag-btn:hover {
  border: 1px solid #ffffff;
  transition: 0.5s linear;
}

.tag-btn:nth-child(1) {
  margin-left: 1px;
  width: 29px;
}

.tag-btn:nth-child(2) {
  width: 78px;
}

.tag-btn:nth-child(3) {
  width: 93px;
}

.tag-btn:nth-child(4) {
  width: 57px;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin-bottom: 20px;
}

.layout-4-column img {
  margin: 10px;
}

.layout-4-column img:hover {
  cursor: pointer;
}

.image_active {
  outline: 5px solid #F06C64;
  outline-offset: -4px;
}

.about {
  height: 668px;
  padding: 60px 40px 0 40px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  color: #666d89;
}

.about__layout-3-column {
  margin-top: 45px;
}

.layout-3-column {
  display: flex;
  flex-direction: row;
  width: 942px;
}

.person-card:nth-child(2) {
  padding: 0 19px 0 19px;
  margin-right: 2px;
}

.person-card:nth-child(3) {
  margin-right: 2px;
}

.person-card__title {
  width: 128px;
  height: 14px;
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 0.7;
  letter-spacing: -0.9px;
  word-spacing: 0.689px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.person-card__text {
  height: 38px;
  margin-top: 12px;
  font-size: 0.7rem;
  line-height: 1.96;
  text-align: justify;
  letter-spacing: 0.3px;
  word-spacing: -0.3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.person-card:nth-child(2) p {
  margin-left: 1px;
  letter-spacing: 0.5px;
  word-spacing: -0.8px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 28px;
  margin-left: 1px;
  width: 152px;
}

.social-link {
  display: flex;
  width: 32px;
  height: 32px;
  background-image: url('assets/img/part2/Social\ Media.png');
  opacity: 0.6;
}

.social-link:hover {
  opacity: 1;
  transition: 0.5s linear;
}

.social-link__facebook {
  background-position: 0 0;
}

.social-link__google {
  background-position: -40px 0;
}

.social-link__twitter {
  background-position: -80px 0;
}

.social-link__linkedin {
  background-position: -120px 0;
}

.quote {
  padding: 60px 40px 0 40px;
  height: 588px;
  color: #ffffff;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

#modal-blur {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.3;
}

.modal-window {
  display: none;
  justify-content: center;
  position: absolute;
  top: 700px;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 10%;
  text-align: center;
}

.modal-window__content {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 40px;
  width: 600px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0,0,0,0.9);
  background: #ffffff;
  color: #666d89;
  animation: showDown 0.4s ease;
}

.modal-window__content span {
  margin-bottom: 40px;
  color: #F06C64;
}
.modal-window__description {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 400px;
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal__btn {
  position: relative;
  color: #ffffff;
  width: 100px;
  height: 42px;
  cursor: pointer;
}

.modal__btn:hover {
  background-color: #9b4844;
  transition: 0.5s linear;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
  width: 619px;
  height: 416px;
  color: #ffffff;
  z-index: 1;
}

input {
  height: 36px;
  width: 604px;
  padding-left: 15px;
  letter-spacing: 0.5px;
  line-height: 0.4;
}

.form__button:hover, input:hover, textarea:hover {
  background-color: #9b484483;
  transition: 0.5s linear;
}

input:focus, textarea:focus {
  background-color: #9b484483;
  border: 1px solid #ffffff;
}

input::placeholder, textarea::placeholder {
  color: #f48c8f;
  word-spacing: -0.1px;
  letter-spacing: 0.4px;
}

.form__button {
  height: 36px;
  width: 200px;
  color: inherit;
}

.form__button:active, .modal__btn:active {
  background-color: rgb(75, 32, 32);
}

textarea {
  height: 188px;
  resize: none;
  width: 602px;
  padding-left: 15px;
  padding-top: 12px;
  line-height: 0.9;
  letter-spacing: 0.13px;
  word-spacing: 1.6px;
}

.quote__wrapper {
  display: flex;
  flex-direction: row;
  width: 943px;
}

.contact-info {
  margin: 41px 0 0 21px ;
}

.contact-info__title {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  word-spacing: -0.4px;
}

.contact-info__text {
  line-height: 1.964;
  margin-top: 8px;
  font-size: 0.7rem;
  letter-spacing: 0.1px;
  word-spacing: 1px;
  text-align: justify;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 24px;
  list-style: none;
  width: 146px;
  height: 59px;
  font-size: 0.7rem;
  background-image: url('assets/img/part3/contacts.png');
  background-repeat: no-repeat;
}

.contacts-item {
  display: inline;
  margin-left: 23px;
  padding-bottom: 3px;
  letter-spacing: 0.1px;
  word-spacing: 1.4px;
}

.contacts-item__number, .contacts-item__email {
  color: inherit;
}

.contacts-item__number:hover, .contacts-item__email:hover {
  color: #d6564f;
  font-weight: bold;
  font-size: 15px;
  transition: 0.5s linear;
}

footer {
  justify-content: space-between;
  color: #666d89;
  height: 76px;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  font-size: 0.7rem;
}

.copyright h3 {
  padding-bottom: 1px;
  padding-left: 2px;
  letter-spacing: 0.3px;
  word-spacing: -0.2px;
}

.copyright h3:nth-child(2)::before{
  content: '·';
  padding-right: 2px;
}

.footer__social {
  margin-right: 40px;
  margin-top: 22px;
  padding-bottom: 60px;
}

@keyframes showDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes hideRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes hideLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}


